@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-container{
    background-color: #f1f5f8;
    height: 100vh;
    font-family: 'Roboto';
}

.counter-heading{
    font-weight: bold;
    font-size: 50px;
}

.counter-value{
    font-size: 75px;
    font-weight: bold;
}

.button-style{
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #000000;
    background-color: #f1f5f8;
}